<div class="relative flex h-full w-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
 <div id="content" class="mx-auto w-4/5 bg-slate-300 bg-center p-6">
   <div class="mx-auto max-w-xl bg-gray-50 p-12 shadow-lg">
     <h1 class="w-96 h-32 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-slate-100 p-4 text-6xl text-center">It's Rails</h1>
   </div>
   <hr class="my-12">
   <div class="mx-auto bg-gray-50 p-12 shadow-lg">
     <ul class="inline text-3xl underline">
       <li class="text-indigo-900 mr-8 p-2"><%= link_to "Blog", articles_path %></li>
       <li class="text-indigo-900 mr-8 p-2"><%= link_to "Todos", todos_path %></li>
     </ul>
   </div>
 </div>
</div>