<div class="max-w-3xl mx-auto bg-white p-8 shadow-lg">
 <% unless comment.archived? %>
   <p class="mb-4">
     <strong class="font-semibold">Commenter:</strong> <%= comment.commenter %><br>
     Comment: <i><%= comment.body %></i>
   </p>
   <p class="mb-2 bg-blue-300 px-4 py-2 rounded hover:bg-blue-500">
     <%= link_to "Destroy Comment", [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-slate-900 hover:text-indigo-900" %>
   </p>
 <% end %>
</div>