<div class="max-w-3xl mx-auto bg-white p-8 shadow-lg">
  <div class="mb-8">
    <h1 class="text-4xl font-bold mb-4">Articles</h1>
    <p class="italic mb-8">
      This blog has
      <strong class="font-semibold"><%= Article.public_count %></strong>
      articles and counting!
    </p>
  </div>
  <div class="mb-8">
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li class="mb-2 bg-gray-300 px-4 py-2 rounded hover:bg-gray-500">
            <%= link_to article.title, article, class: "text-indigo-700 hover:text-indigo-900" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div>
    <ul>
      <li class="mb-2 bg-green-300 px-4 py-2 rounded hover:bg-green-500">
        <%= link_to "New Article", new_article_path, class: "text-slate-900 hover:text-indigo-900" %>
      </li>
      <li class="bg-orange-300 px-4 py-2 rounded hover:bg-orange-500">
        <%= link_to "Home", root_path, class: "text-slate-900 hover:text-indigo-900" %>
      </li>
    </ul>
  </div>
</div>