<div>
  <div>
    <h1>New todo</h1>

 
    <hr>

    <div class="grid grid-cols-1 gap-8 py-8 px-12 border rounded shadow-md">
         <%= render "form", todo: @todo %>
         <%= link_to "Back to todos", todos_path, class: "-ml-px relative px-4 py-2 border border-green-600 text-sm rounded font-medium text-white bg-green-600 hover:bg-blue-700" %>
    </div>
  </div>
</div>